body, html{
    margin-left:16px;
    margin-right:16px;
}

.ui-datepicker {
    border:none;
    margin:20px;
    width:60%;
    position:relative;
    alignment-baseline: middle;
    height:auto;
    cursor: default;
    text-transform: uppercase;
    font-size: 14px;

}
.ui-datepicker-header {
    width:100%;
    position: relative;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
 
.ui-datepicker-title { 
    text-align: center; 
}
 
.ui-datepicker-month {
    position: relative;
    padding-right: 15px;
}
 
.ui-datepicker-year {
    font-size: 20px;
    padding-left: 8px;
    color: #a8a8a8;
}
.ui-datepicker-calendar th {
    
    padding-top: 15px;
    padding-bottom: 10px;
 
    text-align: center;
    font-weight: normal;
    
}
.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    font-size:24px;
}

.ui-datepicker-calendar td {
    padding: 0 7px;
    text-align: center;
    line-height: 32px;
    margin-top:2px;
}

.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: auto;
    outline: none;
    margin-bottom:4px;
    text-align:left;
    vertical-align:top;
    text-decoration: none;
}
.addnote{
    margin:20px;
    padding:5px;
    position: relative;
}
.panel-default{
    padding-bottom:16px;
    position:relative;
    float:left;
}
.panel-content{
    padding-left:16px;   
}
.form-group{
    padding:3px;
    margin-right:12px;
}
.toinenaika{
    margin-left:0;
}

td.highlight > a{
       background: #66ff66!important;
   }
#makeNote{
   width:auto;    
}