
html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
}

#nav {
    width: 100%;
}

.teksti{
    margin-left:300px;
    color: black;
}
.tausta {
  height: 100%;
  background:#b6fcb6;
}

iframe {
    width: 80%;
    height: 600px;
}
