#sidebar-wrapper {
  top: 52px;
  left: -200px;
  width: 200px;
  background-color: black;
  color: white;
  position: fixed;
  height: 100%;
}
.nav-sidebar{
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}
.nav-sidebar li {
  text-indent: 20px;
  line-height: 50px;
}
.nav-sidebar li a {
  color: white;
  display: block;
  text-decoration: none;
}
.nav-sidebar li a:hover {
  background: rgba(255,255,255,0.25);
  color: white;
  text-decoration: none;
}
.nav-sidebar li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}
@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
}

.navbar-custom {
    color: #FFFFFF;
    background-color: black;
}
.active{
    color:yellow;
}