@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form{
  position: relative;
  background: #FFFFFF;
  max-width: 400px;
  height: 270px;
  padding: 45px;
  text-align: left;
  border:none;
   padding-bottom: 0px
  
}


.form input {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #4CAF50;
  width: 100%;
  border: 0;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}



.panel-content{
    padding-top: 15px;
    padding-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 145px;
    margin-top: 0px;
    
}
.panel-heading{
    font-size: 25px;
    font-weight: bold
}
.panel-default{
     padding-bottom: 0px;
}

p{
    font-size: 12px;
}

