
<!DOCTYPE html>
<html>
    <head>
        <title>{% trans %}Etusivu{% endtrans %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('css/etusivu.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/navbars.css') }}" />
        <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
        <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js') }}"></script>
        <script src="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
    </head>
    
    <body>
        
        <!--Navigointi-->
        <nav class="navbar navbar-default">
            <!--Yläpalkki-->
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('_home') }}">{% trans %}Verkkokalenteri{% endtrans %}</a>
                    <a class="navbar-brand" href="{{ path('_home') }}">{% trans %}Ryhmäkalenteri{% endtrans %}</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('_home') }}">{% trans %}Etusivu{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}Profiili{% endtrans %}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#fi"> fi</a></li>
                    <li><a href="#en"> en</a></li>
                    <li><a href="{{path('_logout')}}"><span class="glyphicon glyphicon-log-in"></span> {% trans %}Kirjaudu ulos{% endtrans %}</a></li>
                </ul>
            </div>
            <!--Sivupalkki-->
            <div id="sidebar-wrapper" class="sidebar-toggle">
                <ul class="nav nav-sidebar">
                    <!--Oma kalenteri-->
                    <li><a href=''><span class="glyphicon glyphicon-calendar"></span> {% trans %}Oma Kalenteri{% endtrans %}</a> </li>
                    <!--Ryhmät-->
                    <li><a data-toggle="collapse" data-target="#groups"><span class="glyphicon glyphicon-user"></span> {% trans %}ryhmäkalenteri{% endtrans %}</a> 
                        <ul id="groups" class="collapse">
                            <li><a>{% trans %}Group 1{% endtrans %}</a></li>
                            <li><a>{% trans %}Group 2{% endtrans %}</a></li>
                            <li><a>{% trans %}Group 3{% endtrans %}</a></li>
                        </ul>
                    </li>
                    <!--Kaverit-->
                    <li><a data-toggle="collapse" data-target="#friends">
                            <span class="glyphicon glyphicon-heart"></span> 
                            {% trans %}kaverit{% endtrans %}
                        </a>
                        <ul id="friends" class="collapse">
                            <li><a>Krista</a></li>
                            <li><a>Max</a></li>
                            <li><a>Anna</a></li>
                        </ul>
                    </li>
                </ul>                        
            </div>
        </nav>
            
        <!--Sivun sisältö-->
        <div class="teksti">
            
            <div class="container-fluid">
                <iframe src='{{path('_kalenteri')}}' scrolling="auto" frameborder="0" >
                </iframe>
            </div>

        </div>
                
 
    </body>

</html>
