<!DOCTYPE html>


<head>
    <title>Oma Kalenteri</title>
    <!--<link rel="stylesheet" href="Resources/css/jquery-ui.min.css">-->
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.structure.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.structure.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/calendar.css') }}" />
    <link rel="stylesheet" href="{{ asset('http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}" />
    <link rel='stylesheet' href="{{ asset('css/fullcalendar.css') }}" />
    <link rel='stylesheet' href="{{ asset('css/fullcalendar.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/noteAdd.css') }}" />
    <script src= "{{ asset('js/moment.min.js') }}"></script>

</head>
<body>

    <div class="container-fluid" style="margin: auto">
        <div id="verkkokalenteri"></div>
    </div>
    {% block javascripts %}
        <script type ="text/javascript" src="{{ asset ('js/jquery-3.1.0.js') }}"></script>
        <script type ="text/javascript" src="{{ asset('http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
        <script type ="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
        <script type ="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/fullcalendar.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/fullcalendar.min.js') }}"></script>
        <script type="text/javascript">
                 
    
    $(document).ready(function(){
        var id;
        $(function () {
             $('#datePop').dialog({
                        autoOpen: false,
                        title: "{% trans %}Lisää{% endtrans %}"
                    });
                    
            $('#verkkokalenteri').fullCalendar({
                
            header:{
            left: 'prev, next, today, listWeek, month',
                    center: 'title',
                    right: ''
            },
            height: 'auto',
                    weekNumbers: true,
                    firstDay:1,
                    monthNames: ['{% trans %}January{% endtrans %}', '{% trans %}February{% endtrans %}', 
                        '{% trans %}March{% endtrans %}', '{% trans %}April{% endtrans %}', '{% trans %}May{% endtrans %}', 
                        '{% trans %}June{% endtrans %}', '{% trans %}July{% endtrans %}', '{% trans %}August{% endtrans %}', 
                        '{% trans %}September{% endtrans %}', '{% trans %}October{% endtrans %}', 
                        '{% trans %}November{% endtrans %}', '{% trans %}December{% endtrans %}'],
                    dayNamesShort: ['{% trans %}Sunday{% endtrans %}', '{% trans %}Monday{% endtrans %}', 
                        '{% trans %}Tuesday{% endtrans %}', '{% trans %}Wednesday{% endtrans %}', 
                        '{% trans %}Thursday{% endtrans %}', '{% trans %}Friday{% endtrans %}', 
                        '{% trans %}Saturday{% endtrans %}'],
                    dayClick: function(date){
                        var valinta = date.format();
                            var element2 = document.getElementById("selection");
                            document.getElementById("selectedDate2").innerHTML = valinta;   
                            document.getElementById("newnote_paiva").value = valinta;
                            $('#datePop').dialog('open');
                            element2.style.visibility = 'visible';
                    },
                    events:{ url: 'datequery',
                             editable: true
                         },
                    eventClick: function(event){
                        var val =  event.start.format();
                        
                        var par2=document.getElementById("testSuccess");
                       
                        $.ajax({ 
                            url: 'eventquery'+'?variable='+val,
                            type: 'GET',
                            error: function(){
                               par2.innerHTML="there was an error"; 
                            },
                            dataType: 'json',
                            success: function(data){
                                var obj = JSON.stringify(data);
                                console.log(obj);
                                var prs= $.parseJSON(obj);
                                console.log(prs);
                                document.getElementById("mtitle").innerHTML=data[0].title;
                                document.getElementById("mdesc").innerHTML=data[0].kuvaus;
                                document.getElementById("mstart").innerHTML=data[0].start;
                                document.getElementById("mtime").innerHTML=data[0].aika;
                                document.getElementById("mpriv").innerHTML=data[0].nakyvyys;
                                
                                //document.getElementById("oldnote_title").value=data[0].title;
                                //document.getElementById("oldnote_kuvaus").value=data[0].kuvaus;
                                //document.getElementById("oldnote_paiva").value=data[0].start;
                                //document.getElementById("oldnote_aika").value=data[0].aika;
                                //document.getElementById("oldnote_nakyvyys").value=data[0].nakyvyys;
                              
                                
                            },
                            viewDisplay: function(view){
                                $('.fc-day').filter( function(index){
                                        return  moment($(this).data('date') ).isBefore(moment(),'day') 
                                    }).addClass('fc-other-month');
      }     

                            
                        });

                        $("#existingNote").dialog("open");
                        var lelement = document.getElementById("openExistingNote");
                        lelement.style.visibility='visible';
                            
                        
                    }
            });
        });
        
      $(function () {
            $('#makeNote').dialog({
            autoOpen: false,
                    draggable: false,
                    buttons: [
                    {"text": "{% trans %}Cancel{% endtrans %}", "click": function () {
                    $(this).dialog("close");
                    }}
                    ]
            });
            $('#editNote').dialog({
                autoOpen: false,
                draggable: true,
                buttons: [{text: "{% trans %}close{% endtrans %}", click: function(){
                            $(this).dialog("close");
            }}]
            });
            $('#existingNote').dialog({
                autoOpen: false,
                draggable: true,
                buttons: [{"text": "{% trans %}close{% endtrans %}", click: function() {
                            $(this).dialog("close");
                        }},{"text": "{% trans %}Edit{% endtrans %}", click: function(){
                                $("#editNote").dialog("open");
                                var notelement = document.getElementById("editOldNote");
                                var val = getId();
                                notelement.style.visibility = 'visible';
                                $.ajax({
                                    url: 'kalenteri'+'?variable='+val,
                                    type: 'GET',
                                    datatype: 'json'
                                });
                                
                        }}]
            });
                    $('#selectButton').click(function () {
                    $('#makeNote').dialog('open');
                    var element = document.getElementById("addnote");
                    element.style.visibility = 'visible';
            });
            });
            function setId(idnew){
                id = idnew;
            }
            function getId(){
                return id;
            }
                    function closeDialog() {
                    $('#datePop').dialog('close');
                    }
    });
                   
           
                   
       

        </script> 
        

    {% endblock %}


    <div id='datePop'>
        <form id="selection" style="visibility:hidden">
            <h3 id="selectedDate2"></h3>
            <div class="form-group">
                <button class="btn-default" id="selectButton" type="button" onclick="closeDialog();">{% trans %}Lisää merkintä{% endtrans %}</button>

            </div>
        </form>
    </div>
    
    <div id="existingNote">
        <div id ="openExistingNote"  style="visibility:hidden">
        <div class="panel panel-default" >
            <div class="panel-content" style="display:flex">
                <div class='container-fluid'>
                <div class="row">
                    
                    <div class="col-sm-4">Title</div>
                    <div class="col-sm-4" id="mtitle"></div>
                    
                </div>
                <div class='row'>
                    <div class='col-sm-4'>Description</div>
                    <div class='col-sm-4' id='mdesc'></div>
                </div>
                    <div class='row'>
                    <div class='col-sm-4'>Date</div>
                    <div class='col-sm-4' id='mstart'></div>
                </div>
                    <div class='row'>
                    <div class='col-sm-4'>Time</div>
                    <div class='col-sm-4' id='mtime'></div>
                </div>
                    <div class='row'>
                    <div class='col-sm-4'>Visibility</div>
                    <div class='col-sm-4' id='mpriv'></div>                  
                    
                </div>
                </div>
                
                
            </div>
            <p id="testSuccess"></p>
        </div>
        </div>
    </div>
        
    
    <div id="makeNote">
        <div id ="addnote" style ="visibility:hidden">

            <div class="panel panel-default">
                <div class="panel-heading">{% trans %}Lisää merkintä{% endtrans %}</div>
                <div class="panel-content form">
                    <form id ="newnote" action="" method="POST" >         
                        {{ form_row(newnote.title) }}
                        {{ form_row(newnote.kuvaus) }}
                        {{ form_row(newnote.start, { 'id':'newnote_paiva' }) }}
                        {{ form_row(newnote.aika) }}                       
                        {{ form_row(newnote.nakyvyys) }}
                        
                        <p>{% trans %}salattu selite{% endtrans %}</p>
                        <p>{% trans %}piilotettu selite{% endtrans %}</p>
                        <p>{% trans %}julkinen selite{% endtrans %}</p>

                        <button type="submit" class ="btn btn-default" id="merkSubmit">{% trans %}Tallenna{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
                        
    <div id="editNote">
        <div id ="editOldNote" style ="visibility:hidden">

            <div class="panel panel-default">
                <div class="panel-content">
                    <form id ="oldnote" action="" method="POST">
                        <h3>{% trans %}Muokkaa merkintää{% endtrans %}</h3>
{#                        {{ form_row(oldnote.title, { 'id':'oldnote_title' }) }}
                        {{ form_row(oldnote.kuvaus, { 'id':'oldnote_kuvaus' }) }}
                        {{ form_row(oldnote.start, { 'id':'oldnote_paiva' }) }}
                        {{ form_row(oldnote.aika, { 'id':'oldnote_aika' }) }}                       
                        {{ form_row(oldnote.nakyvyys, { 'id':'oldnote_nakyvyys' }) }}
#}
                        <button type="submit" class ="btn btn-default" id="changeSubmit">{% trans %}Tallenna{% endtrans %}</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

