<link rel="stylesheet" href="{{ asset('css/login.css') }}" />
<div class="login-page">
    <div class="form">
        <div class="padding">
            <div class="title">{% trans %}Luo tili{% endtrans %} </div>
            <p class="message">{% trans %}Onko sinulla jo tili{% endtrans %}? <a href="{{ path('_login') }}">{% trans %}Kirjaudu sisään{% endtrans %}</a></p>
        </div>
            {{ form_start(form, 
                    { 'attr': {
                        'class': "login-form"} }) }}

                {{ form_row(form.tunnus, 
                    { 'attr': {
                        'placeholder': "Käyttäjätunnus"} }) }}
                {{ form_row(form.email, 
                    { 'attr': {
                        'placeholder': "Email"} }) }}
                {{ form_row(form.salasana.first, 
                    { 'attr': {
                        'placeholder': "Salasana"} }) }}
                {{ form_row(form.salasana.second, 
                    { 'attr': {
                        'placeholder': "Salasana uudelleen"} }) }}
                {{ form_row(form.nimi, 
                    { 'attr': {
                        'placeholder': "Nimi"} }) }}
                {{ form_row(form.kuvaus, 
                    { 'attr': {
                        'placeholder': "Kuvaus"} }) }}
                {{ form_row(form.puhelin, 
                    { 'attr': {
                        'placeholder': "Puhelin"} }) }}

                <button type="submit">{% trans %}Luo tili{% endtrans %}</button>

            {{ form_end(form) }}
    </div>
</div>