
{% extends '::base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/login.css') }}" />
<div class="login-page">
    <div class="form">
        <div class="padding">
            <div class="title">{% trans %}Kirjaudu sisään{% endtrans %}</div>
        </div>
        {% if error %}
            <div class="error">{{ error.message|trans({'%link_start%' : '<a href="'~path('_register')~'">', '%link_end%' : '</a>'})|raw }}</div>
        {% endif %}

        <form class="login-form" action="{{ path('_login_check') }}" method="post">
            <label for="username">{% trans %}Käyttäjätunnus{% endtrans %}:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username" />

            <label for="password">{% trans %}Salasana{% endtrans %}:</label>
            <input type="password" id="password" name="_password" placeholder="Password" />

            <button type="submit">{% trans %}Kirjaudu{% endtrans %}</button>
            
            <p class="message">{% trans %}Ei tiliä{% endtrans %}? <a href="{{ path('_register') }}">{% trans %}Rekisteröidy{% endtrans %}</a></p>
        </form>
            

    </div>
</div>
{% endblock %}